<form name="signup" action="/auth/signIn" method="post">
    username: <input name="username" id="username" style="color: black;" /><br />
    password: <input type="password" name="password" id="password" style="color: black;" /><br />
    <input type="submit" value="SIGN IN" class="btn btn-primary btn-lg"></input>
</form>